# Extração Dados Enem 2019

In [1]:
# Importação bibliotecas necessárias
import pandas as pd
import numpy as np
import zipfile
import requests
from io import BytesIO
import os

In [ ]:
# Criar novo diretório para armazenar o conteúdo do ENEM
os.makedirs('./enem2019', exist_ok=True)

In [ ]:
# Define a url
url = 'http://download.inep.gov.br/microdados/microdados_enem_2019.zip'

# Faz download do conteúdo
filebytes = BytesIO(
    requests.get(url).content
)

# Define em que diretório os arquivos serão extraidos
myzip = zipfile.ZipFile(filebytes)
myzip.extractall('./enem2019')

## Verificar integridade dos dados

In [2]:
# Lê os dados da base do enem de 2019
enem = pd.read_csv(
    './enem2019/DADOS/MICRODADOS_ENEM_2019.csv',
    sep = ';', decimal = ',', encoding = 'ISO-8859-1'
)

In [3]:
enem.head()

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001004627,2019,1506807,Santarém,15,PA,21,M,1,3,...,A,A,A,C,B,A,D,A,B,A
1,190001004628,2019,1504059,Mãe do Rio,15,PA,16,F,1,3,...,A,A,A,B,B,A,B,A,A,A
2,190001004629,2019,1505502,Paragominas,15,PA,18,F,1,1,...,B,A,A,D,B,B,D,A,C,B
3,190001004630,2019,1507706,São Sebastião da Boa Vista,15,PA,23,M,0,3,...,A,A,A,C,A,A,D,A,A,A
4,190001004631,2019,1503903,Juruti,15,PA,23,M,1,3,...,A,A,A,B,A,A,D,A,A,A

In [4]:
enem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5095270 entries, 0 to 5095269
Columns: 136 entries, NU_INSCRICAO to Q025
dtypes: float64(20), int64(71), object(45)
memory usage: 5.2+ GB

In [5]:
dict(enem.dtypes)

{'NU_INSCRICAO': dtype('int64'),
 'NU_ANO': dtype('int64'),
 'CO_MUNICIPIO_RESIDENCIA': dtype('int64'),
 'NO_MUNICIPIO_RESIDENCIA': dtype('O'),
 'CO_UF_RESIDENCIA': dtype('int64'),
 'SG_UF_RESIDENCIA': dtype('O'),
 'NU_IDADE': dtype('int64'),
 'TP_SEXO': dtype('O'),
 'TP_ESTADO_CIVIL': dtype('int64'),
 'TP_COR_RACA': dtype('int64'),
 'TP_NACIONALIDADE': dtype('int64'),
 'CO_MUNICIPIO_NASCIMENTO': dtype('float64'),
 'NO_MUNICIPIO_NASCIMENTO': dtype('O'),
 'CO_UF_NASCIMENTO': dtype('float64'),
 'SG_UF_NASCIMENTO': dtype('O'),
 'TP_ST_CONCLUSAO': dtype('int64'),
 'TP_ANO_CONCLUIU': dtype('int64'),
 'TP_ESCOLA': dtype('int64'),
 'TP_ENSINO': dtype('float64'),
 'IN_TREINEIRO': dtype('int64'),
 'CO_ESCOLA': dtype('float64'),
 'CO_MUNICIPIO_ESC': dtype('float64'),
 'NO_MUNICIPIO_ESC': dtype('O'),
 'CO_UF_ESC': dtype('float64'),
 'SG_UF_ESC': dtype('O'),
 'TP_DEPENDENCIA_ADM_ESC': dtype('float64'),
 'TP_LOCALIZACAO_ESC': dtype('float64'),
 'TP_SIT_FUNC_ESC': dtype('float64'),
 'IN_BAIXA_VISAO': dtype('int64'),
 'IN_CEGUEIRA': dtype('int64'),
 'IN_SURDEZ': dtype('int64'),
 'IN_DEFICIENCIA_AUDITIVA': dtype('int64'),
 'IN_SURDO_CEGUEIRA': dtype('int64'),
 'IN_DEFICIENCIA_FISICA': dtype('int64'),
 'IN_DEFICIENCIA_MENTAL': dtype('int64'),
 'IN_DEFICIT_ATENCAO': dtype('int64'),
 'IN_DISLEXIA': dtype('int64'),
 'IN_DISCALCULIA': dtype('int64'),
 'IN_AUTISMO': dtype('int64'),
 'IN_VISAO_MONOCULAR': dtype('int64'),
 'IN_OUTRA_DEF': dtype('int64'),
 'IN_GESTANTE': dtype('int64'),
 'IN_LACTANTE': dtype('int64'),
 'IN_IDOSO': dtype('int64'),
 'IN_ESTUDA_CLASSE_HOSPITALAR': dtype('int64'),
 'IN_SEM_RECURSO': dtype('int64'),
 'IN_BRAILLE': dtype('int64'),
 'IN_AMPLIADA_24': dtype('int64'),
 'IN_AMPLIADA_18': dtype('int64'),
 'IN_LEDOR': dtype('int64'),
 'IN_ACESSO': dtype('int64'),
 'IN_TRANSCRICAO': dtype('int64'),
 'IN_LIBRAS': dtype('int64'),
 'IN_TEMPO_ADICIONAL': dtype('int64'),
 'IN_LEITURA_LABIAL': dtype('int64'),
 'IN_MESA_CADEIRA_RODAS': dtype('int64'),
 'IN_MESA_CADEIRA_SEPARADA': dtype('int64'),
 'IN_APOIO_PERNA': dtype('int64'),
 'IN_GUIA_INTERPRETE': dtype('int64'),
 'IN_COMPUTADOR': dtype('int64'),
 'IN_CADEIRA_ESPECIAL': dtype('int64'),
 'IN_CADEIRA_CANHOTO': dtype('int64'),
 'IN_CADEIRA_ACOLCHOADA': dtype('int64'),
 'IN_PROVA_DEITADO': dtype('int64'),
 'IN_MOBILIARIO_OBESO': dtype('int64'),
 'IN_LAMINA_OVERLAY': dtype('int64'),
 'IN_PROTETOR_AURICULAR': dtype('int64'),
 'IN_MEDIDOR_GLICOSE': dtype('int64'),
 'IN_MAQUINA_BRAILE': dtype('int64'),
 'IN_SOROBAN': dtype('int64'),
 'IN_MARCA_PASSO': dtype('int64'),
 'IN_SONDA': dtype('int64'),
 'IN_MEDICAMENTOS': dtype('int64'),
 'IN_SALA_INDIVIDUAL': dtype('int64'),
 'IN_SALA_ESPECIAL': dtype('int64'),
 'IN_SALA_ACOMPANHANTE': dtype('int64'),
 'IN_MOBILIARIO_ESPECIFICO': dtype('int64'),
 'IN_MATERIAL_ESPECIFICO': dtype('int64'),
 'IN_NOME_SOCIAL': dtype('int64'),
 'CO_MUNICIPIO_PROVA': dtype('int64'),
 'NO_MUNICIPIO_PROVA': dtype('O'),
 'CO_UF_PROVA': dtype('int64'),
 'SG_UF_PROVA': dtype('O'),
 'TP_PRESENCA_CN': dtype('int64'),
 'TP_PRESENCA_CH': dtype('int64'),
 'TP_PRESENCA_LC': dtype('int64'),
 'TP_PRESENCA_MT': dtype('int64'),
 'CO_PROVA_CN': dtype('float64'),
 'CO_PROVA_CH': dtype('float64'),
 'CO_PROVA_LC': dtype('float64'),
 'CO_PROVA_MT': dtype('float64'),
 'NU_NOTA_CN': dtype('O'),
 'NU_NOTA_CH': dtype('O'),
 'NU_NOTA_LC': dtype('O'),
 'NU_NOTA_MT': dtype('O'),
 'TX_RESPOSTAS_CN': dtype('O'),
 'TX_RESPOSTAS_CH': dtype('O'),
 'TX_RESPOSTAS_LC': dtype('O'),
 'TX_RESPOSTAS_MT': dtype('O'),
 'TP_LINGUA': dtype('int64'),
 'TX_GABARITO_CN': dtype('O'),
 'TX_GABARITO_CH': dtype('O'),
 'TX_GABARITO_LC': dtype('O'),
 'TX_GABARITO_MT': dtype('O'),
 'TP_STATUS_REDACAO': dtype('float64'),
 'NU_NOTA_COMP1': dtype('float64'),
 'NU_NOTA_COMP2': dtype('float64'),
 'NU_NOTA_COMP3': dtype('float64'),
 'NU_NOTA_COMP4': dtype('float64'),
 'NU_NOTA_COMP5': dtype('float64'),
 'NU_NOTA_REDACAO': dtype('float64'),
 'Q001': dtype('O'),
 'Q002': dtype('O'),
 'Q003': dtype('O'),
 'Q004': dtype('O'),
 'Q005': dtype('int64'),
 'Q006': dtype('O'),
 'Q007': dtype('O'),
 'Q008': dtype('O'),
 'Q009': dtype('O'),
 'Q010': dtype('O'),
 'Q011': dtype('O'),
 'Q012': dtype('O'),
 'Q013': dtype('O'),
 'Q014': dtype('O'),
 'Q015': dtype('O'),
 'Q016': dtype('O'),
 'Q017': dtype('O'),
 'Q018': dtype('O'),
 'Q019': dtype('O'),
 'Q020': dtype('O'),
 'Q021': dtype('O'),
 'Q022': dtype('O'),
 'Q023': dtype('O'),
 'Q024': dtype('O'),
 'Q025': dtype('O')}

# Exportar dados dos alunos de MG para csv

In [6]:
# Criação de um novo dataframe somento com os dados de Minas Gerais
enem_mg = enem.loc[enem.SG_UF_RESIDENCIA == 'MG']

In [7]:
enem_mg.head()

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
1044,190001005671,2019,3170206,Uberlândia,31,MG,21,M,1,1,...,B,A,A,D,A,A,D,B,B,B
5234,190001009861,2019,3111705,Canaã,31,MG,20,M,1,1,...,A,A,A,B,A,A,C,A,A,A
16995,190001021622,2019,3104007,Araxá,31,MG,24,M,1,2,...,A,A,A,C,B,A,C,A,A,B
22008,190001026636,2019,3106200,Belo Horizonte,31,MG,33,M,1,1,...,B,A,B,B,A,A,D,A,D,B
22114,190001026742,2019,3162401,São João da Ponte,31,MG,23,M,1,3,...,A,A,A,B,B,A,C,A,B,A

In [8]:
# Exportação dos dados de Minas Gerais para csv
enem_mg.to_csv(r'C:\Users\giang\Documents\GitHub\Bootcamp-Engenharia-de-Dados-2020\enem_mg.csv', 
               sep = ";", decimal = ",", encoding = 'ISO-8859-1'
              )